.main {
	display: block;
	width: 100%;
}

.main__selector {
	&:hover{
		cursor: pointer;
	}
	@include layout($standard-layout);
	@include e(icon) {
		@include m(legislators) {
			@extend .fa-balance-scale;
			font-size: 2.5em;
			margin-bottom: 0.3em;
		}
		@include m(votes) {
			@extend .fa-check-circle-o;
			font-size: 2.9em;
			margin-bottom: 0.1em;

		}
		@include m(bills) {
			font-size: 2.5em;
			margin-bottom: 0.3em;
			@extend .fa-file-text-o;
		}
	}
	@include e(detail){
		font-size: 0.75em;
		font-family: $font-family--light;
		color:lighten(palette(grey, xx-light),5%);
	}
}

[class^="main__selector--"] {
	height: $nav-height;
    @include span(4 of 12);
	@include layout($standard-layout);
    font-family: $font-family--primary;
    background-color: $color--primary;
    color: lighten(palette(grey, xx-light),10%);
    font-size: 1.5em;
    @extend %flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    &:hover,&.active {
    	background-color: lighten($color--primary,10%);
    }
}

[class^="main__selector__icon--"] {
	@extend .fa;
}
